*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
  font-family:  'Nabla';
  src: url('../public/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../public/RobotoMono-VariableFont_wght.ttf');
}

.App {
  background-color:#293241;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  /*width: 100vw;*/
}

.buttonContainer{
display: flex;
justify-content: space-around;
gap:50px;
width: 40%;
}

input{
  padding: 20px 40px;
}

.inputButton{
  display: flex;
  flex-direction: column;
}

.newDrink{
  display: flex;
  font-family: 'Roboto Mono';
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-content: center;
  align-items: center;
  /*height: 40vh;*/
  width: 20vw;
  padding: 10px;
  border-radius: 5px;
}

.randomButton{
  background-color: #e62323;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0px;
  padding: 20px 40px;
  font-family: 'Roboto Mono';
  font-size: 20px;
}
.byNameButton{
  background-color: #e62323;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0px;
  padding: 20px 40px;
  font-family: 'Roboto Mono';
  font-size: 20px;
}
img{
    width: 40%;
}

h1{
  font-family: 'Nabla';
  font-size: 100px;
  
}

.sub-heading{
  font-family: 'Roboto Mono';
  font-size: 30px;
 font-weight: 600;
 color: azure;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap:50px;

}
